/*ROOT*/ 
:root
{
    --primary-color             :           #023eac;
    --secondary-color           :           #efa3a2; 
    --accent-color              :           #12ae11;
    --error-color               :           #df0f1f;

    --primary-color-tint        :           #135adf;
}

/*RESET*/

*
{
    margin                      :           0; 
    padding                     :           0; 
    box-sizing                  :           border-box;         
}

/* FONTS */
@font-face
{
    font-family                 :           'Oxygen Regular';
    src                         :           url('./assets/Oxygen-Regular.ttf');
}

@font-face
{
    font-family                 :           'Oxygen Bold';
    src                         :           url('./assets/Oxygen-Bold.ttf');
}

/*GENERAL*/ 

.btn 
{
    display                     :           block; 
    outline                     :           none; 
    padding                     :           9px 12px; 
    border                      :           none; 
    border-radius               :           5px;
    cursor                      :           pointer;  
}

.btn.btn-primary 
{
    background-color            :           var(--primary-color);
    color                       :           white; 
}

.btn.btn.btn-primary:hover 
{
    background-color            :          var(--primary-color-tint);
}
/*BASE*/
body 
{
    font-size                   :           14px; 
    font-family                 :           'Oxygen Bold';
}

.container                      
{
    height                      :           100vh;
}

.form-container 
{
    height                      :           100%; 
}

#form_register
{
    height                      :           100%; 
    display                     :           flex; 
    flex-direction              :           column;
    justify-content             :           space-between;
    background-color            :           black;
    color                       :           white; 
}

#form_register header
{
    height                      :           30%;
}

#form_register img 
{
    height                      :           100%; 
    width                       :           100%; 
}
#form_register main
{
    display                     :           flex; 
    flex-direction              :           column;
    justify-content             :           space-evenly;
    padding                     :           0 1.5em; 
}


#form_register main .input-group 
{
    display                     :           flex; 
    flex-direction              :           column;
    margin-bottom               :           0.8em; 
}

#form_register main .input-group *
{
    margin-top                  :           0.5em; 
}

#form_register main .input-group .feedback
{
    margin                      :          0.2em 0; 
    color                       :          var(--error-color); 
}


input[type='text'],
input[type='password'], 
input[type='email']
{
    border                      :           none; 
    padding                     :           9px 14px;
    transition                  :           border-color 0.8s ease; 
    background-color            :           black;
    border-bottom               :           1px solid var(--secondary-color);
    color                       :           white; 
    outline                     :           none; 
}

input[type='text']:focus,
input[type='password']:focus, 
input[type='email']:focus
{
   border-color                 :           var(--accent-color)
}

input[type='text']:invalid,
input[type='password']:invalid, 
input[type='email']:invalid
{
    border                      :           none;
}

#form_register footer
{
    display                     :           flex; 
    flex-direction              :           column;
    padding                     :           1.5em; 
}

/*TABLETS*/
@media screen and (min-width:620px)
{
    #form_register header
    {
        height                  :           40%;
    }
}

/*LAPTOP*/
@media screen and (min-width:960px)
{
    body 
    {
        background-color        :           white; 
    }

    .container
    {
        display                 :           flex; 
        justify-content         :           center;
    }
    
    .form-container 
    {
       
        width                   :           400px; 
        height                  :           auto; 
        overflow                :           hidden; 
        border-radius           :           5px;
        box-shadow              :           0 0 4px 2px rgba(0, 0, 0, 0.5); 
        margin                  :           2em 0;
    }


    #form_register header
    {
        height                  :           30%;  
    }

    #form_register main .input-group 
    {
        margin                  :           0,2em 0; 
    }

    #form_register main .input-group *
    {
        margin-top              :           0.2em; 
    }

}


/*DESKTOP*/
@media screen and (min-width:1200px)
{
    .form-container 
    {
        font-size               :           14px; 
    }
}

