* 
{
 	padding : 0; 
    margin  : 0; 
  	box-sizing : border-box; 
}

body 
{
  padding   : 10px 
} 

nav 
{
 background-color : #eee;
}

ul 
{
  list-style-type : none; 
}

.list-items > li 
{
  padding: 15px 18px  ;
  cursor: pointer; 
  transition: 0.5s background-color ease; 
}

.list-items > li:hover  
{
  background-color : #ddd; 
}

.list-items li.dropdown:hover > .dropdown-list
{
  visibility        :   visible;
  transform         :   scale(1);
  opacity           :   1; 
}

.list-items li.dropdown:hover > .icon
{
  transform         :   rotate(180deg); 
}

.dropdown
{
	position : relative;   
}


.dropdown-list
{
  visibility        :     hidden;
  transform         :     scale(0);
  position          :     absolute; 
  top               :     40px;
  left              :     0px;
  display           :     flex;  
  width             :     100%; 
  flex-direction    :     column;
  background-color  :     white; 
  border            :     1px solid #ddd;
  box-shadow        :     0 0 1px 0;
  opacity           :     1;
  transition        :     all 0.4s ease;
  opacity           :     0; 
  transform-origin  :     top;
}

.dropdown-list li 
{
   padding          :     8px 12px;
   cursor           :     pointer; 
   transition       :     0.4s ease; 
}

.dropdown-list li:hover 
{
   background-color : #eee;
}

.icon 
{
  position          : absolute;
  right              : 0px; 
  transition        : transform 0.4s ease; 
}

.flex 
{
   display 		      :  flex;
   flex-direction   : row;
}