:root
{
    --bg-primary            :   rgb(47, 41, 240); 
    --bg-danger             :   #d15;
    --bg-danger-hover       :   #f27;
    --bg-info               :   #333; 
    --bg-info-hover         :   #444;

    --tr-even-bg-color      :   rgb(112, 107, 255); 

}

html
{
    font-size               :   62.5%;
}

* 
{
    margin                  :   0; 
    padding                 :   0; 
    box-sizing              :   border-box;
}

body 
{
    font-family             :   helvetica, arial, sans-serif; 
    padding                 :   0; 
    font-size               :   1.6rem;
}

.btn 
{
    display                 :   block; 

    border                  :   none; 
    padding                 :   9px 12px; 
    border-radius           :   5px; 
    cursor                  :   pointer;
    color                   :   black;
}

.btn.btn-sm 
{
    padding                 :   6px 9px; 
}

.btn.btn-lg 
{
    padding                 :   12px 15px; 
}


.btn:hover 
{
    background-color        :   #eee;
}


.btn-danger 
{
    
    color                   :   #fff; 
    background-color        :   var(--bg-danger);
}

.btn-info
{
    background-color        :   var(--bg-info);
    color                   :   white; 
}

.btn-info:hover 
{
    background-color        :   var(--bg-info-hover);
}

.btn-danger:hover 
{
    background-color        :   var(--bg-danger-hover);
}

.table 
{
    width                   :   100%; 
    border-collapse         :   collapse;
    animation               :   1s slide-from-left linear; 
}

@keyframes slide-from-left 
{
    from
    {
        opacity             :   0; 
        transform           :   translateX(-1000px);
    }
    to 
    {
        opacity             :   1; 
        transform           :   translateX(0);
    }
}

.table thead 
{
    border-radius            : 5px; 
}
.table thead th
{
    padding                 :   16px 20px; 
    text-align              :   left; 
}


.table tbody td
{
    text-transform          : capitalize;
    padding                 :   12px 16px; 
}

.table tbody tr
{
    position                :   relative; 
    top                     :   0; 
    left                    :   0;
}

.table tbody tr.cross-out:after
{
    position                :   absolute;
    width                   :   100%; 
    content                 :   '';
    top                     :   30px; 
    left                    :   0; 
    height                  :   2px; 
    background-color        :   black; 
    animation               :   0.8s cross-out ease-out forwards;
    transform-origin        :   left;
}


.table tbody tr:nth-child(odd)
{
    background-color        : whitesmoke;  
    color                   :   #000; 
}

.table tbody tr:nth-child(even)
{
    background-color        : var(--tr-even-bg-color);  
    color                   :   white; 
}

.table tbody tr:last-child
{
    border-bottom           :   2px solid var(--bg-primarys);
}

.bg-primary 
{
    background-color        :   var(--bg-primary);
    color                   :   white; 
}

.bg-info
{
    background-color        :   var(--bg-info);
    color                   :   white; 
}

.modal-overlay 
{
    display                 :   none; 
    position                :   fixed;
    top                     :   0; 
    left                    :   0; 
    z-index                 :   1;
    height                  :   100vh; 
    width                   :   100vw;
    justify-content         :   center;
    align-items             :   center; 
    background-color        :   rgba(0, 0, 0, 0.2);
}

.modal 
{
    transform               :   translateY(-1000px); 
    height                  :   100vh; 
    width                   :   100vw;
    background-color        :   whitesmoke;
    display                 :   flex;
    flex-direction          :   column;
    justify-content         :   space-between;
    font-size               :   2rem;
}


.modal .modal-header
{
    padding                 :   16px 20px;
    color                   :   white;  
    background-color        :   var(--bg-danger);  
    font-size               :   1.8em;
}

.modal .modal-body
{
    font-size               :   1.2em;
    text-align              :   center; 
    line-height             :   2;
    padding                 :   5px; 
}

.modal .modal-footer 
{
    padding                 :   16px 20px;
    color                   :   white;  
    border-top              :   1px solid #ddd;
    display                 :   flex; 
    justify-content         :   space-between;
}

@media(min-width: 800px) 
{
    body 
    {
        padding             :   25px 0; 
        font-size           :   1.8rem;
    }

    .table
    {
        width               :   700px; 
        margin              :   0 auto; 
        border-radius       :   10px;
        overflow            :   hidden; 
        box-shadow          :   0 0 2px 1px; 
    }

    .modal 
    {
        width               :   500px;
        height              :   300px;
        border-radius       :   5px; 
        overflow            :   hidden;
        font-size           :   1.4rem;
        box-shadow          :    0 0 2px 1px;
    }

}

.modal-down
{
    animation               :   modal-down 0.5s  ease-out forwards;
}

.modal-up 
{
    animation               :   modal-up 0.5s  ease-out forwards;
}

@keyframes modal-up
{
    from
    {
        opacity             :   1; 
        transform           :   translateY(0px); 
    }
    to 
    {
        opacity             :   0; 
        transform           :   translateY(-500px);
    }
}

@keyframes modal-down
{
    from
    {
        opacity             :   0; 
        transform           :   translateY(-500px); 
    }
    to 
    {
        opacity             :   1; 
        transform           :   translateY(0px);
    }
}

@keyframes cross-out 
{
    from 
    {
        transform               :   scale(0); 
    }
    to 
    {
        transform               :   scale(1); 
    }
}
