/*Variables*/ 

*
{
    padding                 :               0; 
    margin                  :               0; 
    box-sizing              :               border-box;
}

/*General*/

body 
{
    background              :               #ddd; 
    font-size               :               14px; 
    font-family             :               Arial, Helvetica, sans-serif;
}

#header_body
{
    width                   :               100%; 
}

#header_body nav 
{
    background-color        :              rgb(148, 169, 143);
    grid-column             :               span 8;

    color                   :               #fff;
    display                 :               flex; 
    flex-direction          :               row;
    padding                 :               10px; 
}

#header_body nav * 
{
    margin                  :               0 5px;
    cursor                  :               pointer;
}

.grid 
{
    display                 :               grid; 
    grid-template-columns   :               repeat(8, 1fr);
}

.card
{
    grid-column             :               span 8;
    background-color        :               #fff;
    overflow                :               hidden;
    padding                 :               15px; 
    grid-gap                :               10px; 
    border-bottom           :               1px solid rgb(148, 169, 143, 0.5);
} 

.card .image 
{
    grid-column             :               span 1;
    display                 :               flex; 
    justify-content         :               center;
}

.card .image img 
{
    width                   :               75px; 
    height                  :               75px; 
    border-radius           :               50%;
    margin                  :               0 auto; 
}

.card .content 
{
    grid-column             :               span 7; 
}

.card .content *
{
    margin                  :               2px 0px;   
}

.card .content header span
{
    color                   :               #aaa;
}

.card .content main 
{
    text-align              :               justify;
    padding                 :               5px 0;
    font-size               :               0.9em; 
    line-height             :               18px;
}

.card .content footer 
{
    margin                  :               5px 0; 
    font-size               :               0.9em;
}

.card .content footer *
{
    color                   :               #aaa;
}

/*Tablets*/ 

@media screen and (min-width: 620px)
{
    body 
    {
        font-size                       :           16px; 
    }
}


/*Laptop*/ 
@media screen and (min-width: 960px)
{
    .card 
    {
        margin                          :           10px auto; 
        box-shadow                      :           0 0 1px 2px rgba(0, 0, 0, 0.1);
        width                           :           700px;
        border-radius                   :           5px; 
    }
}


/*Desktop*/
@media screen and (min-width: 1200px)
{
    .card 
    {
        margin                          :           10px auto; 
        box-shadow                      :           0 0 1px 2px rgba(0, 0, 0, 0.1);
        width                           :           900px;
        border-radius                   :           5px; 
    }
}