*
{
    padding                     :           0; 
    margin                      :           0; 
    box-sizing                  :           border-box;
}


/* BASE */ 

body 
{
    font-size                   :           14px; 
    font-family                 :           Arial, Helvetica, sans-serif;
}

.tab 
{
    display                     :           flex; 
    flex-direction              :           column;
}

.tab header 
{
    display                     :           flex; 
    flex-direction              :           column;
}

.tab header button 
{
    cursor                      :           pointer;
    padding                     :           0.8em 1em; 
    background-color            :           #ddd; 
    border                      :           none; 
    border-bottom               :           1px solid #eee; 
    transition                  :           background-color 0.4s ease-in-out; 
}

.tab header button:hover 
{
    background-color            :           #ddd; 
}

.tab header button.active 
{
    background-color            :           #eee; 
}

.tab main 
{
    background-color            :           #ffe; 
    min-height                  :           400px; 
}

.tab main section
{
    padding                     :           0.8em 1em; 
    display                     :           none; 
}

.tab main section.active 
{
    display                     :           block;
}

/* TABLET */ 
@media screen and (min-width:620px)
{
    body 
    {
        font-size               :           16px; 
    }
}

/* LAPTOP */ 
@media screen and (min-width:960px)
{
    .container 
    {
        display                 :           flex; 
        justify-content         :           center;
        padding                 :           2em 0; 
    }

    .tab 
    {
        width                   :           700px; 
    }

    .tab header 
    {
        flex-direction          :           row;
        overflow-x              :           auto;
    }

    .tab header button 
    {
        border-bottom           :           none;
    }

    .tab header button:not(:last-child)
    {
        border-right            :           1px solid #ccc; 
    }

    .tab header button:first-child
    {
        border-top-left-radius  :           15px;
    }

    .tab header button:last-child
    {
        border-top-right-radius :           15px;
    }

    .tab main 
    {
        background-color        :           #eee; 
        border-radius           :           0 15px 15px 15px; 
        width                   :           auto; 
    }
}


/* DESKTOP */ 
@media screen and (min-width:1200px)
{
    body 
    {
        font-size               :           18px;
    }
}