@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



@layer components 
{
    .card 
    {
        @apply  flex flex-col justify-between 
                w-full p-5  
                border-b-2 border-green-200;
    }
    .card > header  
    {
        @apply  py-2 
                border-b-2 border-green-300 
                text-green-700 text-xl text-justify;
    }

    .card > main 
    {
        @apply py-5;
    }

    .card > main p
    {
        @apply my-2 text-justify text-gray-700;
    }

    .card > footer
    {
        @apply pt-5 text-xs text-right italic text-gray-600;
    }


    .link-list > li 
    {
        @apply  flex flex-row items-center
                px-8 py-4 
                border-b border-green-400 
                transition-colors duration-500 ease-in-out
                overflow-hidden
                text-sm; 
    }

    .link-list > li:hover 
    {
        @apply bg-green-500 cursor-pointer;
    }

    .link-list > li > svg
    {
        @apply  w-8 h-8;
    }

    .link-list > li > a
    {
        @apply  ml-5;
    }


     /* small screens */ 
    @screen sm 
    {
        .card > main p
        {
            @apply text-base;
        }
    }

    /* medium screen */ 
    @screen md 
    {

    }

    /* large screen */ 
    @screen lg 
    {
        .card 
        {
            @apply shadow-md rounded-md my-6 bg-gray-100;
        }
    }

    /* extra karge screeb */ 
    @screen xl 
    {

    }
}


*
{
    padding                         :                   0;
    margin                          :                   0; 
    box-sizing                      :                   border-box;
}

html
{
    font-size                       :                   14px; 
}


body 
{
    @apply bg-green-100;
}
#loader 
{
    background-color                :                   rgba(30,150, 120);                   
    position                        :                   fixed; 
    top                             :                   0; 
    left                            :                   0; 
    
    display                         :                   flex; 
    flex-direction                  :                   column;
    justify-content                 :                   center;
    align-items                     :                   center;

    width                           :                   100vw; 
    height                          :                   100vh; 
    
    z-index                         :                   99; 
}


#loader > span 
{
    width                           :                   75px; 
    height                          :                   75px; 
    border-radius                   :                   50%; 
    border-width                    :                   0.5em; 
    border-top-color                :                   rgba(30,225, 120);   
    animation                       :                   rotate 0.8s linear infinite; 
}

#loader > h3
{
    font-size                       :                   1.8em; 
    font-weight                     :                   bold;
    color                           :                   white; 
    margin                          :                   1em auto;
}

#header 
{
    @apply  w-full
            sticky top-0 z-10;
}


#header > nav 
{
    @apply  flex flex-row justify-between items-center
            bg-green-600 px-8 text-white  py-2
            border-b-2 border-green-300;
}

#menu nav 
{
    @apply  text-white text-sm h-screen
            bg-green-600;
}

#main 
{
    @apply   flex flex-row;
}

#links 
{
    @apply    hidden bg-green-600 text-white text-sm; 
}

#content 
{
    @apply  flex flex-col; 
}

#posts 
{
    @apply  flex flex-col items-center;
}

#ads 
{
    @apply  flex flex-col flex-wrap items-center justify-evenly;
}

#ads > h2 
{
    @apply  text-2xl py-3 text-green-500 w-11/12 text-center font-serif;
}

#ads > aside
{
    @apply  overflow-hidden shadow-lg
            w-11/12 m-4; 
} 

#ads > aside > img 
{
    @apply   rounded; 
}

#footer 
{
    @apply  flex flex-col items-end
            bg-green-600 text-white 
            p-5 
            border-t-2 border-green-300;
}

.animation-fade 
{
    animation                       :                   fade 1s linear 2s forwards; 
}

@keyframes fade 
{
    from
    {
        opacity                     :                   1;
        visibility                  :                   visible; 
    }
    to 
    { 
        opacity                     :                   0; 
        visibility                  :                   hidden;
    }
}

@keyframes rotate
{
    from
    {
        transform                   :                   rotate(0deg); 
    }
    to 
    { 
        transform                   :                   rotate(360deg); 
    }
}


/* small screens */ 
@screen sm 
{
    #ads 
    {
        @apply flex-row; 
    }

    #ads > aside
    {
        @apply w-2/5; 
    }

}

/* medium screen */ 
@screen md 
{
    #loader > span 
    {
        width                       :                   100px; 
        height                      :                   100px; 
    }

    #hamburger 
    {
        display                     :                   none; 
    }

    #menu 
    {
        display                     :                   none; 
    }

    #main 
    {
        @apply flex-row flex-wrap;
    }

    #links
    {
        @apply flex flex-col
                w-1/4;
    }

    #content
    {
        @apply w-3/4 h-screen overflow-y-auto; 
    }
}

/* large screen */ 
@screen lg 
{

    html
    {
        font-size                       :                   16px; 
    }

    #links
    {
        @apply flex flex-col
                w-1/5;
    }

    #content
    {
        @apply w-4/5; 
    }
}

/* extra karge screeb */ 
@screen xl 
{

    #ads > aside
    {
        @apply w-full my-4; 
    }
}